* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #73caff;
	color:#f8f8f8;
}

.box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 250px;
}


.countdown {
	width: 840px;
	height: 200px;
	margin: auto;
}
.card {
	width:180px;
	height: 180px;
	float: left;
	border: 2px solid #f1f1f1;
	border-radius: 15px;
	margin-right: 40px;
}
.card:last-child {
	margin-right: 0;
}
.card span {
	display: block;
	text-align: center;
	font-weight: bold;
}
.card span:first-child {
	width:100%;
	height: 70%;
	margin-top: 5%;
	font-size: 55px;
}

.card .title {
	width: 100%;
	height: 25%;
	font-size: 15px;
}

.small-screen {
	display: none;
}

@media(max-width: 860px) {
	.box {
		display: none;
	}
	.small-screen {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: 250px;
		text-align: center;
	}
	.small-screen span {
		text-align: left;
		font-size: 12px;
	}
}
